
button>img{
    width: 30px;
}

.onlinedot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

.oflinedot{
    height: 25px;
    width: 25px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
}


  button{
    display: flex;
    justify-content: space-between;

  }

  .UserName{
    flex-grow: 1;
    text-align: left;
  }

  